matrix_domain: test
matrix_server_fqn_matrix: matrix.test
matrix_server_fqn_element: element.test
matrix_playbook_ssl_enabled: false
matrix_homeserver_url: "http://{{ matrix_server_fqn_matrix }}:8008"
traefik_config_entrypoint_web_secure_enabled: false
traefik_config_certificatesResolvers_acme_enabled: false
matrix_homeserver_generic_secret_key: "secretpw"
matrix_playbook_reverse_proxy_type: none
postgres_enabled: true
postgres_container_image_name: "postgres:15"
postgres_connection_username: "matrix"
postgres_connection_password: "YourSecurePasswordHere"
postgres_db_name: "matrix"
postgres_host: "matrix-postgres"
matrix_playbook_docker_installation_enabled: true
mailer_enabled: false
exim_relay_enabled: false
prometheus_enabled: false
prometheus_node_exporter_enabled: false
matrix_client_element_enabled: true
matrix_client_element_default_server_config:
  m.homeserver:
    base_url: "http://matrix.test:8008"
    server_name: "test"
  m.identity_server:
    base_url: ""

matrix_synapse_metrics_enabled: false
matrix_homeserver_federation_enabled: false
matrix_synapse_container_client_api_host_bind_port: 8008
matrix_client_element_container_http_host_bind_port: 8080
